.wrapper {}



.container {}



.page {}

.page__input {}




.input {}

.input__heading {}

.input__main {}

.input__full-name {}

.input__text {}

.input__name {}

.input__password-name {}

.input__pass {}

.input__mobile-name {}

.input__tel {}




.page__checkbox {}

.checkbox {}

.container {}

.checkbox__subheading {}

.checkbox__border {}

.checkbox__html {}

.checkbox__css {}

.checkbox__js {}

.checkbox__php {}

.checkbox__python {}

.checkbox__react {}

.checkbox__angular {}

.checkbox__ajax {}

.checkbox__vue {}




.page__radio {}

.radio {}

.container {}

.radio__subheading {}

.radio__finish {}

.radio__win {}

.radio__almost {}

.radio__midway {}

.radio__failed {}

.radion__fail {}

/* input {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
  } */