.wrapper {}



.container {}



.page {}

.page__input {}

.page__file {}

.page__checkbox {}

.page__radio {}

.page__select {}

.page__textarea {}

.page__button {}




.input {}

.input__heading {}

.input__main {}

.input__full-name {}

.input__text {}

.input__name {
    border: none;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;

    width: 170px;

}

.input__password-name {}

.input__pass {
    border: none;
    border-left: 1px solid #000;

    width: 170px;
}

.input__mobile-name {}

.input__tel {
    border: none;
    border-left: 1px solid #000;
    border-top: 1px solid #000;

    width: 170px;
}



.file {}

.file__subheading {}

.file__border {}

.file__attach {}



.checkbox {}

.checkbox__subheading {}

.checkbox__border {}

.checkbox__html {}

.checkbox__css {}

.checkbox__js {}

.checkbox__php {}

.checkbox__python {}

.checkbox__react {}

.checkbox__angular {}

.checkbox__ajax {}

.checkbox__vue {}



.radio {}

.radio__subheading {}

.radio__finish {}

.radio__win {}

.radio__almost {}

.radio__midway {}

.radio__failed {}

.radion__fail {}



.select {}

.select__subheading {}

.select__border {}

.select__success {}

.select__point {}



.textarea {}

.textarea__subheading {}

.textarea__border {}

.textarea__text {}

.textarea__desc {}



.button {}

.button__subheading {}

.button__border {}

.button__submit {}

.button__reset {}